.board-container{
    display: grid;
	grid-template-columns: 125px repeat(9, 80px) 125px;
	grid-template-rows: 125px repeat(9, 80px) 125px;
}

.square{
    background-color: aqua;
    width: 125px;
    aspect-ratio: 1/1;

    border: 1px solid black;
}

.top{
    display: grid;
    grid-template-rows: 1fr 4fr;
    width: 80px;
    height: 125px;
    
    rotate: 180deg;
}

.bottom{
    display: grid;
    grid-template-rows: 1fr 4fr;
    width: 80px;
    height: 125px;
}

.left{
    display: grid;
    grid-template-rows: 1fr 4fr;
    width: 125px;
    height: 80px;

    writing-mode: vertical-rl;
}

.right{
    display: grid;
    grid-template-rows: 1fr 4fr;
    width: 125px;
    height: 80px;

    writing-mode: vertical-rl;
    rotate: 180deg;
}

.tile{
    background-color: rgb(189, 250, 229);
    border: 1px solid black;
}

.colour-bar{
    width: 100%;
    height: 100%;
}

.red{ background-color: red;}

.center{
    grid-column: 2/11;
    width: 80px;
    aspect-ratio: 1/1;
}