
// fonts
$body-font: 'Oswald', sans-serif;

// colouring
$board-colour: rgb(150, 26, 26);
$tile-background: rgb(236, 236, 236);
$square-background: rgb(119, 255, 203);
$border: 1px solid rgb(0, 0, 0);

$red: red;
$yellow: yellow;
$orange: orange;
$green: green;
$pink: pink;
$blue: blue;
$cyan: cyan;
$brown: brown;

// board

*{
 font-family: $body-font;
 font-weight: 300;
 box-sizing: border-box;
 letter-spacing: .2px;
 text-transform: uppercase;
}

.boardtiles-container{
    display: grid;
	grid-template-columns: 125px repeat(9, 80px) 125px;
	grid-template-rows: 125px repeat(9, 80px) 125px;
}

// square tiles

.square{
    background-color: $square-background;
    width: 125px;
    aspect-ratio: 1/1;

    border: $border;
}

// single tilings

.tile{
    background-color: $tile-background;
    border: $border;
    font-size: 12px;

    display: grid;
    grid-template-rows: 1fr 4fr;
}

.colour-bar{
    width: 100%;
    height: 100%;
}

.red{ background-color: $red;}
.yellow{ background-color: $yellow;}
.orange{ background-color: $orange;}
.green{ background-color: $green;}
.pink{ background-color: $pink;}
.blue{ background-color: $blue;}
.cyan{ background-color: $cyan;}
.brown{ background-color: $brown;}

.name-info{
    padding: 5px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bold-text{
    font-weight: 400;
}

.top{
    width: 80px;
    height: 125px;
    
    rotate: 180deg;
}

.bottom{
    width: 80px;
    height: 125px;
}

.left{
    width: 125px;
    height: 80px;

    writing-mode: vertical-rl;
}

.right{
    width: 125px;
    height: 80px;

    writing-mode: vertical-rl;
    rotate: 180deg;
} 

// other tilings

.center{
    grid-column: 2/11;
    width: 80px;
    aspect-ratio: 1/1;
}

// players
.players-holder{
    position: absolute;
    justify-self: center;
    align-self: center;

    display: flex;
    justify-content: center;
    align-items: center;
}
.player-object{
    background-color: white;
    padding: 5px;
    border-radius: 100%;
    box-shadow: 0px 0px 1px 1px rgba($color: black, $alpha: 0.2);
}

.boardplayers-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.player-info-container{
    width: 262px;
    height: 64px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.player-info-container-image{
    width: 300px;
    height: 100%;
    position: relative
}

.player-info-header{
    font-weight: 500;
}